################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdatbazisProjekt/FileContentIndex/f70edd53-023c-486a-97a7-aa4bafd29e6a.vsidx
