################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdatbazisProjekt/FileContentIndex/
/WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex
