################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdatbazisProjekt/FileContentIndex/f70edd53-023c-486a-97a7-aa4bafd29e6a.vsidx
/.vs/AdatbazisProjekt/FileContentIndex/7c71b272-470a-4043-98bf-60ed8f990db4.vsidx
